body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font: 400 1em/1.5 "Neuton";
  background: #090d00; 
  color: rgba(255,255,255,.25); 
  text-align: center; 

}

p {
	text-transform: uppercase;
	letter-spacing: .5em;
	display: inline-block;
	/* border: 4px double rgba(255,255,255,.25); */
	border-width: 4px 0;
	padding: 1.5em 0em;
}


.hovereffect:hover{
    color: white;
    transition: all 0.5s ease;
}

.mystyle{
  font: 700 3em/1 "Oswald", sans-serif;
  letter-spacing: 0;
  padding: .25em 0 .325em;
  display: block;
  margin: 0 auto;
  text-shadow: 0 0 80px rgba(255,255,255,.5);
  max-width: 100%;
  height: auto;
  color: white;
}

.effect{

  font: 700 3em/1 "Oswald", sans-serif;
  letter-spacing: 0;
  padding: .25em 0 .325em;
  display: block;
  margin: 0 auto;
  text-shadow: 0 0 80px rgba(255,255,255,.5);
  max-width: 100%;
  height: auto;


/* Clip Background Image */

  background: url("http://f.cl.ly/items/010q3E1u3p2Q0j1L1S1o/animated_text_fill.png") repeat-y;
    -webkit-background-clip: text;
    background-clip: text;

/* Animate Background Image */

    -webkit-text-fill-color: transparent;
    animation: aitf 80s linear infinite;
    
    /* Activate hardware acceleration for smoother animations */

    -webkit-transform: translate3d(0,0,0);
    -webkit-backface-visibility: hidden;

}

/* Animate Background Image */
@keyframes aitf {
	0% { background-position: 0% 50%; }
	100% { background-position: 100% 50%; }
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img{
  border-radius: 5px;
  filter: grayscale(100);
}

img:hover{
  filter: grayscale(0);
  transition: all 1s ease-in-out;
}

.gallery {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-width: 33%;
  -moz-column-width: 33%;
  column-width: 33%; 
}
   

  
  @media (max-width: 450px) {
  .gallery {
  -webkit-column-count: 1;
  -moz-column-count: 1;
  column-count: 1;
  -webkit-column-width: 100%;
  -moz-column-width: 100%;
  column-width: 100%;
  }
  }
  
  
  .word:hover{
    color: red;
    transition: all 0.5s ease;
    cursor: pointer;
  }